
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --base-font-Mont: 'Montserrat', sans-serif;
  --base-font-DMsans:'DM Sans', sans-serif;
}

body{
  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;

  height: 100vh;
}


body, button, input{
  font-family: var(--base-font-DMsans);
}

button{
  border-radius: 0 .4rem .4rem 0;
  background: var(--iris-80, #7879F1);

  color: white;
  font-weight: 700;

  cursor: pointer;
  transition: background .3s;

}

button:hover{
  background-color: #6060c4;
}

.hide{
  display: none;
}

main{
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  border-radius: .6rem;
  background: #FFF;
  box-shadow: 0rem .2rem .4rem 0 rgba(0, 0, 0, 0.10);

  width: min(42.8rem, 90%);

  margin-top: -12rem;

  text-align: center;
}


/* Screen1 */
h1{
  color: #34355B;
  text-align: center;
  font-family: var(--base-font-Mont);
  font-size: 2.4rem;
  font-weight: 600;
  /* line-height: 2.6rem; */
  margin-bottom: 1.6rem;
}

p{
  color: rgba(52, 53, 91, 0.80);
  text-align: center;
  font-family: var(--base-font-DMsans);
  font-size: 1.6rem;
  
  font-weight: 400;

}

h1,p{
  color: #34355B;
}

p{
  opacity: 0.8;
}
form{
  margin-top: 4.8rem; 
  display: flex;

  justify-content: center;
}

input, button{
  border: none;
  padding: 1.6rem;
}

input{
  border-radius: .4rem 0 0 .4rem;
  background: #DCE2E9;

  width: 6.15rem;
}




/* screen2 */

h2{
  font-size: 2.4rem;
  font-weight: normal;

  margin-bottom: 3.3rem;
}

.screen2 button{
  border-radius: .4rem;
  background: var(--iris-80, #7879F1);
}